<div class="featured-details">
  {{preview-unbound topic.thumbnails opts=(hash featured=true)}}
  <div class="content">
    <div class="title">
      {{topic.title}}
    </div>
    
    {{#if featuredExcerpt}}
      <div class="excerpt">
        {{{featuredExcerpt}}}
      </div>
    {{/if}}
    <div class="likecount">
      {{number topic.like_count}} {{d-icon 'heart'}}
    </div>
    <span class="user">
      {{featuredUsername}}
      {{avatar featuredUser imageSize="small"}}
    </span>
  </div>
</div>
